html, body, div,
h1, h2, ul, li, aside, footer, main, header, nav, img, p, span, a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 5px 0px 2px 0px;
}

a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}

html {
  font-family: "Bitcount Grid Single", system-ui, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.course-title{
  display: block;

}

:root {
  --text-color-heading-light: white;
  --text-color-heading-dark: black;
  --primary-header-footer-color: #333333;
  --primary-main-color: #cccccc;
}

body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

header {
  color: var(--text-color-heading-light);
  background-color: var(--primary-header-footer-color);
  height: 150px;
  position: relative;
}

#course-title {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 1.5rem;
}

h1, h2 {
  font-size: 1rem;
  font-weight: 100;
  padding: 16px
}

nav {
  padding: 15px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--text-color-heading-dark);
  display: flex;
  justify-content: space-evenly;  
  color: var(--primary-main-color)
}

main {
  background-color: var(--primary-main-color);
  color: var(--text-color-heading-dark);
}

main > h1 {
  text-align: center;
}

aside {
  background-color: var(--text-color-heading-light);
  flex: 25%;
}

footer {
  color: var(--text-color-heading-light);
  text-align: center;
  background-color: var(--primary-header-footer-color);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav > a {
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

nav > a::before,
nav > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--primary-main-color);
  transition: all 0.5s;
}

nav > a::before {
  top: 0;
  left: 0;
}

nav > a:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

nav > a:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out 0.25s;
}

div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 2px dotted var(--primary-header-footer-color);
  max-width: 300px;
  border-radius: 5px;
}