html, body, div,
h1, h2, ul, li, aside, footer, figure, main, header, nav, img, p, span, a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1 { 
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 5px 0px 2px 0px;
}

figcaption {
  justify-self: center;
}

:root {
  --text-color-heading-light: white;
  --text-color-heading-dark: black;
  --primary-header-footer-color: #333333;
  --primary-main-color: #cccccc;
}

body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

header {
  color: var(--text-color-heading-light);
  background-color: var(--primary-header-footer-color);
  position: relative;
  height: 10vh;
  display: flex;  
  align-items: center;
  padding: 0px 15px 0px 15px;
  justify-content: space-between;
  width: 100%;
}

header p {
  font-size: 1.6rem;
  margin: 0;
}

.navigation {
  display: none;
}

#menu {
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: 0.5rem 0.75rem;
	background-color: var(--primary-main-color);
	color: var(--text-color-heading-dark);
}

#menu::before {
	content: "≡";
}

main figure {
  width: 100%;
  padding: 10px;
}

main figure img {
  width: 100%;
  height: auto;
}

nav > a {
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

nav > a::before,
nav > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--primary-main-color);
  transition: all 0.5s;
}

nav > a::before {
  top: 0;
  left: 0;
}

nav > a:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

nav > a:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out 0.25s;
}


.navigation.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--primary-header-footer-color);
  padding: 10px 15px;
  gap: 10px;
}

#menu.show::before {
  content: "✕";
}