:root {
  --text-color-heading-light: white;
  --text-color-heading-dark: black;
  --primary-header-footer-color: #333333;
  --primary-main-color: #cccccc;
}

body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

header {
  color: var(--text-color-heading-light);
  background-color: var(--primary-header-footer-color);
  height: 150px;
  position: relative;
}


nav {
  padding: 15px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--text-color-heading-dark);
  display: flex;
  justify-content: space-evenly;  
  color: var(--primary-main-color)
}

main {
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--primary-main-color);
  color: var(--text-color-heading-dark);
}

footer {
  color: var(--text-color-heading-light);
  text-align: center;
  background-color: var(--primary-header-footer-color);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav > a {
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

nav > a::before,
nav > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--primary-main-color);
  transition: all 0.5s;
}

nav > a::before {
  top: 0;
  left: 0;
}

nav > a:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

nav > a:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out 0.25s;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 5px 0px 2px 0px;
}

a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
}