html, body, div,
h1, h2, ul, li, aside, footer, figure, main, header, nav, img, p, span, a {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1 { 
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 5px 0px 2px 0px;
}

figcaption {
  justify-self: center;
}

:root {
  --text-color-heading-light: white;
  --text-color-heading-dark: black;
  --primary-header-footer-color: #333333;
  --primary-main-color: #cccccc;
}

body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

header {
  color: var(--text-color-heading-light);
  background-color: var(--primary-header-footer-color);
  position: relative;
  height: 10vh;
  display: flex;  
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header p {
  font-size: 1.6rem;
  margin: 0;
}

.navigation {
  display: none;
}

#menu {
	font-size: 2rem;
	font-weight: 700;
	text-decoration: none;
	padding: 0.5rem 0.75rem;
	background-color: var(--primary-main-color);
	color: var(--text-color-heading-dark);
}

#menu::before {
	content: "≡";
}

#temples {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 30px;
  justify-items: center;
  padding: 20px 10px;
}

#temples figure {
  background-color: #eeeeee;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  padding: 20px 20px 0 20px;
  max-width: 350px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#temples figure h3 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center;
}

#temples figure p {
  margin: 4px 0;
  font-size: 0.95rem;
  text-align: center;
}

#temples .label {
  font-weight: 700;
  color: #5b5b5b;
  text-transform: capitalize;
}

#temples figure img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-top: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  margin-bottom: 12px
}

figure {
  display: flex;
  background-color: #eeeeee;
  border: 1px solid #d6d6d6;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

nav > a {
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

nav > a::before,
nav > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--primary-main-color);
  transition: all 0.5s;
}

nav > a::before {
  top: 0;
  left: 0;
}

nav > a:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

nav > a:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out 0.25s;
}

.navigation.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--primary-header-footer-color);
  padding: 10px 15px;
  gap: 10px;
}

#menu.show::before {
  content: "✕";
}